@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@700&family=Roboto&display=swap');

* {
    font-family: "Roboto";
    font-weight: 400;
    list-style-type: none;
}

*:hover {
    transition: 0.3s;
}

body {
    width: 1280px;
    margin: auto;
}


a {
    text-decoration: none;
}

.container {
    display: flex;
}

.logo {
    font-size: 80px;
    margin-top: 63px;
    margin-bottom: 40px;
    width: 304px;
    transition: 0.3s;
}

.link-black {
    color: black;
}

.logo-blue {
    color: #4BCAFF;
}

.logo:hover {
    opacity: 0.6;
}

.logo:active {
    opacity: 0.4;
    transition: 0.3s;
}

.link-navbar {
    color: white;
}

.navbar {
    color: white;
    padding: 0;
    height: 69px;
    display: flex;
    background: #35444F;
    justify-content: center;
    font-size: 24px;
    align-items: center;
    width: 1280px;
}

.box {
    padding: 20px 40px;
    font-size: 24px;
    border-right: 1px solid white;
    transition: 0.3s;
}

.box-1 {
    border-left: 1px solid white;
}

.box:hover {
    background-color: #222F3A;
    transition: 0.3s;
    cursor: pointer;
}

.main {
    padding-top: 30px;
}

.container-aside {
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 344px;
    border: 1px solid black;
    height: 399px;
    justify-content: space-between;
}

.aside-item {
    font-size: 27px;
    padding-left: 52px;
    height: 80px;
    padding-top: 25px;
    transition: 0.3s;
}

.link-aside {
    color: #495863;
    transition: 0.3s;
}

.link-aside:hover {
    color: black;
    font-size: 107%;
}

.aside-item:hover {
    background-color: #DBDBDB;
    padding-left: 70px;
    color: black;
}

.content {
    flex-direction: column;
    margin-left: 47px;
}

.rectangle {
    width: 885px;
    height: 529px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.image {
    width: 320px;
    height: 381px;
    transition: 0.3s;
}

.image:hover {
    transform: scale(120%);
    cursor: pointer;
}

.text {
    margin-top: 37px;
}

.navbar-footer {
    margin-top: 54px;
    margin-bottom: 30px;
    height: 69px;
    width: 1280px;
    background-color: #63696E7A;
    align-items: center;
    justify-content: space-between;
}

.footer-item {
    font-size: 28px;
    padding-left: 27px;
}

.link-footer {
    color: black;
    padding-bottom: 13px;
    transition: 0.3s;
}

.link-footer:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.footer-item:last-child {
    padding-left: 80px;
    padding-right: 30px;
}




